

html {
  background-color: #463730;
  font-family: 'Bevan';
}

h1, p {
  color: #759FBC;
  padding: 0.5em;
}

h2 {
  color: #759FBC;
}

body {
  margin: 0;
  padding: 0;
}

/*Layout*/

.flex-container {
  display: flex;
  margin: 10%;
}

#tot {
<<<<<<< HEAD
  width: 50%;
=======
  width: 90%;
>>>>>>> a0464d1c9ae5fc75a6af7da2e778c7addf828eae
}

/*Media Queries*/

@media (max-width:600px){
  h1, p {
    font-size: 1em;
  }
  h2 {
    font-size: .75em
  }
}

